{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/loginpage.css' %}">


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="bg-dark text-white card shadow-2-strong card-registration">  
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Zaloguj się</h3>
              <form method ="post">
                {% csrf_token %}

                {% if error_message %}
                  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                  <script>
                      Swal.fire({
                          icon: 'error',
                          title: 'Błąd',
                          text: '{{ error_message }}',
                          timer: 2000,
                          showConfirmButton: false,
                      });
                  </script>
                {% endif %}
                
                  <div class="mb-4">
                    <div class="form-outline">
                      <input type="login" required id="firstName" class="form-control form-control-lg" name="username" />
                      <label class="form-label" for="firstName">Login</label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-outline">
                      <input type="password" required id="lastName" class="form-control form-control-lg" name="password" />
                      <label class="form-label" for="lastName">Hasło</label>
                    </div>
                  </div>
                  <div class="mt-4 pt-2"><input class="btn btn-dark btn-lg" type="submit" value="Logowanie" /></div>
              </form>
            </div>
          </div> 
           <div className = "w-100 text-center text-white mt-2" style="color:white"> Nie masz jeszcze konta? <a href="/Signup">Zarejestruj się</a></div>
           {% load socialaccount %}
           <div className = "w-100 text-center text-white mt-2" style="color:white"> Logowanie przed Google<a href="{% provider_login_url 'google' %}?next=/">Zalogu sie OAuth</a></div>

        </div>
      </div>
    </div>
  </section>
  
{% endblock %}